/* scrollbar */
.active {
  /*display: none !important;*/
  background: url("https://user-images.githubusercontent.com/103985728/245748577-6b8f3bde-7a4d-48b4-874f-2eda2afae965.jpg") !important;
  background: linear-gradient(
    230deg,
    #ff00007a,
    #ff80007a,
    #ffff007a,
    #80ff007a,
    #00ff007a,
    #00ff807a,
    #00ffff7a,
    #0080ff7a,
    #0000ff7a,
    #8000ff7a,
    #ff00807a
  ) !important;
  border-radius: 30px !important;
}

.os-scrollbar-handle {
  background: url("https://user-images.githubusercontent.com/103985728/245748577-6b8f3bde-7a4d-48b4-874f-2eda2afae965.jpg") !important;
}
