/*

This MAY not work for you; if it does, please tell me

Simply change the url at the bottom of the content to any link

I will mark stop and starts

*/

/* nav bar - heart icon for liked songs */
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE.dNphEfQzPRaQufS04jUm
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div:nth-child(2)
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE.dNphEfQzPRaQufS04jUm
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div:nth-child(2)
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div
      > img,
    div.os-padding
      > div
      > div
      > div.main-view-container__scroll-node-child
      > main
      > section
      > div
      > div:nth-child(3)
      > div
      > div
      > div:nth-child(2)
      > div
      > div
      > div
      > div
      > img,
    div.os-padding
      > div
      > div
      > div.main-view-container__scroll-node-child
      > main
      > section
      > div:nth-child(4)
      > div
      > div
      > div:nth-child(2)
      > div
      > div
      > div
      > div
      > img,
    div.os-padding
      > div
      > div
      > div.main-view-container__scroll-node-child
      > main
      > section
      > div
      > div
      > div.contentSpacing
      > div:nth-child(1)
      > div
      > div
      > div
      > div
      > div:nth-child(2)
      > div
      > div
      > div
      > div
      > img,
    div.os-padding
      > div
      > div
      > div
      > main
      > div
      > section
      > div:nth-child(2)
      > div.contentSpacing
      > div
      > div:nth-child(2)
      > div:nth-child(2)
      > div
      > div
      > div:nth-child(1)
      > div
      > img,
    div.os-padding
      > div
      > div
      > div.main-view-container__scroll-node-child
      > main
      > section
      > div
      > div:nth-child(3)
      > div
      > div:nth-child(2)
      > div
      > div
      > div:nth-child(1)
      > div
      > img,
    .h4HgbO_Uu1JYg5UGANeQ.iSbqnFdjb1SuyJ3uWydl .VpYFchIiPg3tPhBGyynT > span,
    .odcjv30UQnjaTv4sylc0,
    .VqUjiYOlfxlk_lFOusZ7,
    [data-testid="root"]
      [aria-label="Top\ bar\ and\ user\ menu"]
      span:has(.ellipsis-one-line),
    [role="row"]
      [data-testid="tracklist-row"]
      [aria-colindex="\x31 "]
      [data-encore-id="type"]::hover,
    .contentSpacing
      [data-testid="playlist-tracklist"]
      [aria-rowindex="\x34 "]
      [data-testid="tracklist-row"]::hover,
    [role="row"]
      [data-testid="tracklist-row"]
      [aria-colindex="\x31 "]
      [data-encore-id="type"]::hover,
    [role="row"]
      [data-testid="tracklist-row"]
      [aria-colindex="\x31 "]
      [data-encore-id="type"]::before,
    [role="row"]
      [data-testid="tracklist-row"]
      [aria-colindex="\x31 "]
      [data-encore-id="type"]::after,
    ._5814e6eb4f933d11bfa18c01b92eff76-scss,
    .WBTm60_TPRG_oYwBuS7_,
    .eFyQzR,
    link-subtle ATUzFKub89lzvkmvhpyE,
    a.link-subtle.ATUzFKub89zvkmvhpyE,
    .os-content
      .main-view-container__scroll-node-child
      .main-view-container__mh-footer-container
      [data-testid="footer-div"] {
      display: none !important;
      /* DO NOT TOUCH THIS PART */
    }

    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE.dNphEfQzPRaQufS04jUm
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div:nth-child(2)
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE.dNphEfQzPRaQufS04jUm
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div:nth-child(2)
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div,
    #main
      > div.Root.encore-dark-theme
      > div.ZQftYELq0aOsg6tPbVbV
      > div.BdcvqBAid96FaHAmPYw_
      > nav
      > div.EZFyDnuQnx5hw78phLqP.hjb8tUL3rpUa0ez4ZtAj
      > div.PpUTJL2NIYDUnmfzVIbE
      > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden._K79lE9KrIAkl_bUSSUM.os-host-transition.os-host-scrollbar-vertical-hidden
      > div.os-padding
      > div
      > div
      > div
      > div
      > ul
      > div
      > div:nth-child(2)
      > li.ufICQKJq0XJE5iiIsZfj.caTDfb6Oj7a5_8jBLUSo.vOp2HlcPkxOHebo3If32.VNdHKKznHkpJ0VHoDmai.eZnAGhYcXE4Bt0a7958z.ratGUXdpLCkyXZNaJryg.cuH8l_VHkTiz_NYVslQe.qEiVyQ28VnOKb0LeijqL
      > div
      > div
      > div.Areas__HeaderSideArea-sc-8gfrea-1.ljvfQS
      > div
      > div {
      background: var(--hoverback) !important;
      content: url("https://user-images.githubusercontent.com/103985728/244695129-ea96ab3d-1092-4584-bdd5-afcb8625d121.png") !important;
      /* Change the background to any color, so remove var(--hoverback) to black for example, this is only needed if the image is too light */
      /* change the "url" to anything you want, that is for an example, LEAVE THE QUOTES THERE */
    }
