<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>AirBuddy allows you to see the charging status of and control your AirPods and other Apple and Beats headsets on your Mac.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>mesu.apple.com,updates-http.cdn-apple.com,assets.airbuddy.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80,443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>AirBuddy downloads animation assets for your devices from this server.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t see animated images of your devices in the status window.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>su.airbuddy.app,static.airbuddy.app,appfeedback.rambo.codes</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80,443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>AirBuddy contacts its update servers to notify you when new versions of the app become available. This connection may also be used when you choose to send feedback from within the app.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t be able to get notifications about app updates or install the updates automatically.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>firmware.airbuddy.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80,443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>AirBuddy contacts this server to check for firmware updates for your headsets.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t be able to get notifications about firmware updates.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>paddle.com,paddleapi.com,v3.paddleapi.com,checkout.paddle.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80,443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>AirBuddy uses Paddle to handle sales and registration. No personal information is ever sent to Paddle from the app, other than your license key and email, and only for the purposes of verifying your license.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t be able to register AirBuddy and therefore the app won&apos;t work.</string>
		</dict>
	</array>
</dict>
</plist>
