<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22F82</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AirBuddy</string>
	<key>CFBundleExecutable</key>
	<string>AirBuddy</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>codes.rambo.AirBuddy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirBuddy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>codes.rambo.AirBuddy.URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>airbuddy</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>628</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.3</string>
	<key>DTSDKBuild</key>
	<string>22E245</string>
	<key>DTSDKName</key>
	<string>macosx13.3</string>
	<key>DTXcode</key>
	<string>1431</string>
	<key>DTXcodeBuild</key>
	<string>14E300b</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>AirBuddy uses Bluetooth to communicate with nearby AirPods and other Bluetooth devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>AirBuddy uses Bluetooth to communicate with nearby AirPods and other Bluetooth devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_abmMHp._tcp</string>
		<string>_abmMHp._udp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 - 2022 Buddy Software LTD. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>AirBuddy uses your local network in order to exchange information between multiple devices that are running the app.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>AirBuddy.ABPreferencesApplication</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>codes.rambo.AirBuddy.Installer</key>
		<string>anchor apple generic and certificate leaf[subject.OU] = "8C7439RJLG"</string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://su.airbuddy.app/kCRSAmcjBc/appcast_hyeon.xml</string>
	<key>SUPublicEDKey</key>
	<string>dj8ljUPnwoLj/dLs6HyJg5Ayw+t8zWtgjQUfQsH56ww=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDefaultCategories</key>
		<array/>
		<key>UNDefaultSettings</key>
		<dict>
			<key>UNSettingAlerts</key>
			<true/>
			<key>UNSettingAlwaysShowPreviews</key>
			<true/>
			<key>UNSettingLockScreen</key>
			<true/>
			<key>UNSettingModalAlertStyle</key>
			<integer>1</integer>
			<key>UNSettingNotificationCenter</key>
			<true/>
			<key>UNSettingSounds</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
